@model List<Category>

<html>
  
    <body>
      
    <div class="container">
        <div class="row pt-2 pb-2 " >
            <div class="col-12 d-flex align-items-center justify-content-between" >
                <h3 >Category Page</h3>
                <a  asp-action="Create" class="btn btn-primary d-inline">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                    </svg> Create New Category
                </a>
            </div>
           
        </div>
    </div>
        <div class="container">
            <div class="row pt-2 pb-2 mb-2" style="border:1px solid white">
                <div class="col-6 d-flex align-items-center justify-content-center">
                    CategoryName
                </div>
            <div class="col-6 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
                Display Order
            </div>
            </div>
        @foreach (var obj in Model)
        {
            @*  <tr>
        <td>@obj.Name</td>
        <td>@obj.DisplayOrder</td>
        </tr> *@
            <div class="row pt-2 pb-2 mb-1" style="border:1px solid white">
                <div class="col-6 d-flex align-items-center justify-content-center">
                    @obj.Name
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center" style="border-left:1px solid white">
                    @obj.DisplayOrder
                </div>
            </div>
        }
        </div>

    </body>
</html>
